src/main/xsd/simple_test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="note">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="a"/>
                <xs:element type="xs:string" name="b"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>